*{
    margin: 0%;
    padding: 0%;
    font-family: 'poppins','sans-serif';
    box-sizing: border-box;
}

.container{
    width: 100%;
    height: 100vh;
    background: #e3f9ff; 
    display: flex;
    align-items: center;
    justify-content: center;
}

.calculator{
    background: rgb(48, 44, 44);
    padding:20px;
    border-radius:5%;
}

.calculator form input{
    height: 60px;
    width: 60px;
    border-radius: 10px;
    font-weight: 900;
    font-size: 20px;

}

#input-dis{
    height: 100px;
    width: 250px;
    margin-bottom: 10px;
    border-radius: 10px;
    text-align:right;
    padding-top: 40px;
    font-size: 50px;
}